@model Week2Week.Models.TransactionViewModels.TransactionDetail
@using Microsoft.AspNetCore.Identity
@using Week2Week.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Transaction Details";
}

<h2>@Html.DisplayFor(model => model.Transaction.Title)</h2>
@if (@UserManager.GetUserName(User) != null)
{
    <h3>
        Hello, @UserManager.GetUserName(User)!
    </h3>
}
else
{
    <h4>Edit or Delete this Transaction</h4>
}

<div class="row">
    <div class="col-md-3">@Html.DisplayFor(model => model.Transaction.Title)</div>
    <div class="col-md-3">Amount     $@Html.DisplayFor(model => model.Transaction.Amount)</div>
    <div class="col-md-3">@Html.DisplayFor(model => model.Transaction.SelectedDate)</div>
   
    @if (@UserManager.GetUserName(User) != null)
    {
        

    }
</div>

<div>
   
</div>

<div>
    &lt;&lt; <a asp-action="Index">Back to List</a>
</div>